<!-- /SIDE NAV -->

<header class="header">
  <div class="navbar">
    <div class="admin-box">
      <div class="profile-icon">
        <mat-icon class="round-icon larger-icon">account_circle</mat-icon>
      </div>
      <p class="profile-label white-text">ADMIN</p>
    </div>
    <mat-nav-list class="nav-links">
      <mat-list-item><a mat-list-item-link href="#" class="white-text" (click)="showBranches($event)" id="text">Administration</a></mat-list-item>
      <mat-list-item><a mat-list-item-link href="#" class="white-text" id="text" (click)="profile($event)">Profile</a></mat-list-item>
    </mat-nav-list>
  </div>
</header>

<div class="dashboard">
  <!-- Dashboard content -->

</div>
