<!-- /SIDE NAV -->

<header class="header">
  <div class="navbar">
    <div class="admin-box">

      <h2 class="profile-label white-text">Batch</h2>
    </div>
    <mat-nav-list class="nav-links">
      <mat-list-item><a mat-list-item-link routerLink="/batchhome/course"  class="white-text"  id="text">Courses</a></mat-list-item>
      <mat-list-item><a mat-list-item-link href="#" class="white-text" id="text">Subjects</a></mat-list-item>
      <mat-list-item><a mat-list-item-link href="#" class="white-text" id="text">Batches</a></mat-list-item>
    </mat-nav-list>
  </div>
</header>
<!-- (click)="courses($event)" -->

<div class="dashboard">
  <!-- Dashboard content -->

</div>
<div>
  <router-outlet></router-outlet>
</div>
